:root {
  --btn-padding: 20px 20px;
  --btn-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  --btn-border: 1px solid #d7a184;
  --btn-radius: 4px;
  --btn-font-size: 20px;
  --btn-backgrround: #d7a184;

  --secondary-btn-padding: 5px 10px;
  --secondary-btn-backgorund: #d7a184;
  --secondary-btn-border: 1px solid #d4c2ad;
  --secondary-btn-border-radius: 4px;
  --secondary-btn-color: black;
}

body {
  margin: 60px auto;
  max-width: 800px;
  font-family: arial;
  background-color: #66796b;
}

h2 {
  font-size: 30px;
  text-align: center;
}
h1 {
  font-size: 50px;
  text-align: center;
}
h3 {
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
}
.about-btn,
.contact-btn {
  padding: var(--btn-padding);
  box-shadow: var(--btn-shadow);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  font-size: var(--btn-font-size);
  background-color: var(--btn-backgrround);
}
.about-btn:hover,
.contact-btn:hover {
  cursor: pointer;
  background-color: #d4c2ad;
  transition: ease-in-out 220ms;
  transform: scale(1.1);
}
a {
  margin: 20px;
}
.secondary-btn {
  padding: var(--secondary-btn-padding);
  background-color: var(--secondary-btn-backgorund);
  border: var(--secondary-btn-border);
  border-radius: var(--secondary-btn-border-radius);
  color: var(--secondary-btn-color);
}
.secondary-btn:hover {
  background-color: #d4c2ad;
  transition: ease-in-out 220ms;
  transform: scale(1.1);
}

img:hover {
  transition: ease-in-out 220ms;
  transform: scale(1.1);
}
.weather-container,
.world-container,
.croissant-container {
  background-color: #efdfcc;
}
.weather,
.worldClock,
.croissant {
  margin-top: 66px !important;
}

@media (max-width: 750px) {
  .weather-img {
    margin-top: 10px;
    background-color: white;
    border: none !important;
    border-radius: 4px !important;
    width: 80%;
  }
  .world-img {
    margin-top: 10px;
    background-color: white;
    border: none !important;
    border-radius: 4px !important;
    width: 80%;
  }
  .croissant-img {
    margin-top: 10px;
    background-color: white;
    border-radius: 4px !important;
    width: 80%;
  }
  .secondary-btn:hover {
    transform: none;
    transition: none;
    background-color: #d7a184;
  }
  .weather-img:hover,
  .world-img:hover,
  .croissant-img:hover {
    transform: none;
    transition: none;
  }

  .project-title {
    font-size: 20px;
  }
  .weather-container,
  .world-container,
  .croissant-container {
    border: none !important;
  }
  .weather,
  .croissant,
  .worldClock {
    margin-top: 0px !important;
  }
}
